page-home {
    .home-list {
      max-width: 50%;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 90px;

    }
    .big-text {
      font-size: 24px;
    }
}
